---
import StandardLayout from "../layouts/StandardLayout.astro";

import Button from "../components/bootstrap/Button.astro";
import Badge from "../components/bootstrap/Badge.astro";

import Icon from "../components/customs/Icon.astro";
---

<StandardLayout metaTitle="Home" >

	<section class="py-5">
		<div class="container py-5">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10 text-center">
					<h1 class="display-4 fw-bolder">Zenith is a Bootstrap based Component Library for Astro SSG</h1>
					<p class="lead fw-normal fs-3">Super amazing marketing lingo</p>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Dependencies</h2>
					<ul>
						<li>Bootstrap</li>
						<li>Fontawesome (free)</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="display-5 fw-normal pb-5">Bootstrap Components built for Astro</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="row">
				<div>
					<h3>Buttons</h3>
					<h5>Button Style</h5>
					<p>Add "primary" or "secondary" to attribute "style" to manipulate buttonstyle. Other button styles from bootstrap are of course possible as well.</p>
					<Button style="primary" label="Primary Button" />
					<Button style="secondary" label="Secondary Button"/>
					<Button style="success" label="Success Button"/>
					<Button style="danger" label="Danger Button"/>
					<Button style="info" label="Info Button"/>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col">
					<h5>Buttons with Link</h5>
					<p>Wrap your Button Component in anchor-tag to create a button with a link</p>
					<a href="https://www.google.de">
						<Button label="Button with Link" />
					</a>
				</div>
			</div>


			<div class="row mt-3">
				<div class="col">
					<h5>Button Sizing</h5>
					<p>Choose from 'sm' or 'lg' for attribute 'size' to up- or downscale your button. Leave 'size' empty to render a regular button.</p>
					<Button size="sm">Small Button</Button>
					<Button >Regular Button</Button>
					<Button size="lg">Large Button</Button>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col">
					<h5>Buttons with Icons</h5>
					<p>Add an Icon to your button by wrapping your button component around an icon component. For this the button component has been given a 'slot /' tag.</p>
					<Button>
						Cart
						<Icon pack="solid" name="cart-shopping" />
					</Button>
					<Button>
						<Icon pack="solid" name="cart-shopping" />
						Cart
					</Button>
					<Button>
						<Icon pack="solid" name="cart-shopping" />
					</Button>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">

			<div class="row">
				<div>
					<h3>Fontawesome Icon Component</h3>
					<h5>Icon name</h5>
					<p>Add the identifier from fontawesome.com to the attribute 'name' to display your wished icon</p>
					<Icon className="me-3" pack="solid" name="plane-departure" size="5"/>
					<Icon className="me-3" pack="solid" name="tower-observation" size="5"/>
					<Icon className="me-3" pack="solid" name="umbrella-beach" size="5"/>
					<Icon className="me-3" pack="solid" name="volleyball" size="5"/>
					<Icon className="me-3" pack="solid" name="temperature-low" size="5"/>
				</div>
			</div>

			<div class="row mt-5">
				<div>
					<h5>Sizing Icons</h5>
					<p>Add Numbers from 1 to 10 for property size to size your Icons</p>
					<Icon pack="solid" name="microscope" size="1"/>
					<Icon pack="solid" name="microscope" size="2"/>
					<Icon pack="solid" name="microscope" size="3"/>
					<Icon pack="solid" name="microscope" size="4"/>
					<Icon pack="solid" name="microscope" size="5"/>
					<Icon pack="solid" name="microscope" size="6"/>
					<Icon pack="solid" name="microscope" size="7"/>
					<Icon pack="solid" name="microscope" size="8"/>
					<Icon pack="solid" name="microscope" size="9"/>
					<Icon pack="solid" name="microscope" size="10"/>
				</div>
			</div>

			<div class="row mt-5">
				<div>
					<h5>Setting Icon Style</h5>
					<p>Choose from available free Fontawesome Icon packs regular, solid and brands for the attribute 'pack'</p>
					<Icon className="me-3" name="comment" pack="solid" size="5"/>
					<Icon className="me-3" name="comment" pack="regular" size="5"/>
					<Icon className="me-3" name="brands" pack="instagram" size="5"/>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">

			<div class="row">
				<div>
					<h3>Badges</h3>
					<h5>Badge label</h5>
					<p>Badges scale to match the Size of the parent element. Add your Label to the property 'label'.</p>
					<h1>H1 Example Heading <Badge label="New" /></h1>
					<h2>H2 Example Heading <Badge label="New" /></h2>
					<h3>H3 Example Heading <Badge label="New" /></h3>
					<h4>H4 Example Heading <Badge label="New" /></h4>
					<h5>H5 Example Heading <Badge label="New" /></h5>
					<h6>H6 Example Heading <Badge label="New" /></h6>
				</div>
			</div>

			<div class="row mt-5 mb-4">
				<div>
					<h5>Style Badges according to your needs with property 'style'</h5>
					<p>Badges scale to match the Size of the parent element. Add your Label to the property 'label'.</p>
					<Badge label="Primary" style="primary" />
					<Badge label="Secondary" style="secondary" />
					<Badge label="Success" style="success" />
					<Badge label="Danger" style="danger" />
					<Badge label="Warning" style="warning" />
					<Badge label="Info" style="info" />
					<Badge label="Light" style="Light" />
					<Badge label="Dark" style="dark" />
				</div>
			</div>

			<div class="row mt-5 mb-4">
				<div>
					<h5>Combine Badges with a button component and even with an Icon Component</h5>
					<Button>
						Cart 
						<Badge label="4" style="warning" />
					</Button>
					<Button>
						<Badge label="4" style="warning" />
					</Button>
					<Button>
						<Icon pack="solid" name="cart-shopping" className="me-2" />
						<Badge label="4" style="warning" />
					</Button>
				</div>
			</div>

			<div class="row mt-5 mb-4">
				<div>
					<h5>Add the option 'rounded-pill' to increase border radius of badge</h5>
						<Badge roundedPill label="Rounded Badge" style="primary" />
				</div>
			</div>
		</div>
	</section>



	<div class="py-5"></div>
</StandardLayout>