---
export interface Props {
    label?: string,
    style?: string,
    roundedPill?: boolean,
    className?: string
}

const { label, style="primary", roundedPill, className } = Astro.props as Props

---

<span 
    class:list={[
        `badge`, 
        `text-bg-${style}`,
        `${roundedPill ? `rounded-pill` : ``}`,
        className
    ]}>
        {label}
</span>