---
export interface Props {
    label?: string,
    style?: string,
    size?: 'sm' | 'lg',
    className?: string
}

const {label, style="primary", className, size} = Astro.props as Props;
---

<button 
    class:list={[
        `btn`,
         `btn-${style}`,
          `btn-${size}`,
           `${className}`]}
    type="button"
>
    <slot />
    {label}
</button>
